{% extends "base.html" %}
{% block content %}

<div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h1 class="display-5 fw-bold text-primary">Rendimiento de Tiendas</h1>
      <!-- Menú desplegable de tiendas -->
      <select id="tiendaSelector" class="form-select w-25">
        <option value="" disabled selected>Seleccione una tienda</option>
        <option value="kapitana">Kapitana</option>
        <option value="valencia">Valencia</option>
        <option value="guacara">Guacara</option>
        <option value="cagua">Cagua</option>
        <option value="cruz_verde">Cruz Verde</option>
        <option value="cabimas">Cabimas</option>
        <option value="babilon">Babilon</option>
        <option value="guanare">Guanare</option>
        <option value="cabudare">Cabudare</option>
        <option value="valera">Valera</option>
        <option value="catia">Catia</option>
        <option value="propatria">Propatria</option>
        <option value="baralt">Baralt</option>
        <option value="maturin">Maturin</option>
        <option value="upata">Upata</option>
      </select>
    </div>
  </div>
  <br>

  <!-- Contenedor para los gráficos -->
  <div id="contenedorGraficos" class="row">
    <div class="col-md-4">
      <canvas id="graficoDiario"></canvas>
    </div>
    <div class="col-md-4">
      <canvas id="graficoSemanal"></canvas>
    </div>
    <div class="col-md-4">
      <canvas id="graficoMensual"></canvas>
    </div>
  </div>
</div>


{% endblock %}
